.goog-container {
	overflow-y: scroll;
	height: 80%;
}

.mancare .goog-container{
	height: 90%;
}

.foodItem {
	height: 100px;
	background-color: darkkhaki;
	border-radius: 5px;
	margin: 5px;
}

.image-foodItem img {
	height: 90px;
	width: 180px;
	margin: 5px;
	float: right;
	border-radius: 5px; 
}

.button-joyinfood {
	margin: 2px;
	height: 20px; 
	width: 100px;
	outline:none; 
	color: brown; 
	float: left; 
	background-color: lightblue; 
	border-radius: 5px; 
	border: solid 0px; 
}

.button-joyinfood:hover {
	background-color: cyan;
}
.button-joyinfood:active {
	background-color: darkcyan;
}
.button-joyinfood:select {
	border: solid 0px;
}

.description-foodItem {
	margin: 2px;
	height: 70px; 
	width: 70%;
	outline:none; 
	float: left; 
	color: brown;
	background-color: cornsilk ; 
	border-radius: 5px; 
	border: solid 0px; 
}

.labeledCheckbox {
	margin: 4px;
	width: 90%;
	height: 20px;
	background-color: lightblue;
	border-radius: 5px;
}

.labeltext-labeledCheckbox {
	margin: 2px;
	font-size: 14;
	float: right;
	color: brown;
}

.goog-checkbox {
  border: 1px solid darkcyan;
  display: -moz-inline-box;
  display: inline-block;
  height: 11px;
  margin: 2px;
  vertical-align: text-bottom;
  width: 11px;
  float: left;
}

.goog-checkbox-checked {
  background-color: black;
}

.goog-checkbox-unchecked {
  background-color: lightgrey;
}

.joinAlert {
	position: fixed;
	left: 40%;
	top: 30%;
	height: 200px;
	width: 300px;
	background-color: cornsilk;
	border-radius: 5px;
}

.button-joinAlert-ok {
	margin: 20px;
	float: right;
	float: down;
}

.button-joinAlert-cancel {
	margin: 20px;
	float: left;
}

.message-joinAlert {
	color: brown;
	text-align: center;
	font-size: 20;
	margin: 20px;
	height: 100px;
}

.friend {
	margin: 4px;
	width: 160px;
	height: 25px;
	background-color: lightblue;
	border-radius: 5px;
}

.button-friend {
	width: 20px;
	height: 80%;
	float: right;
	margin: 2px;
}

.label-friend {
	font-size: 14;
	float: left;
	color: brown;
	margin: 3px;
}

div.mancare {
	background-color: lightgreen;
	height: 61%;
	width: 74%;
	position: absolute;
	top:30%;
	margin:5px;
	margin-top: 50px;
	border-radius: 10px;
	left:25%;
	padding: 5px;
}

div.oferte {
	background-color: lightgreen;
	height: 29%;
	width: 74%;
	position: absolute;
	top:35px;
	border-radius: 10px;
	left:25%;
	padding: 5px;
	margin: 5px;
}

div.restaurante {
	background-color: lightgreen;
	height: 29%;
	width: 24%;
	position: absolute;
	top: 35px;
	border-radius: 10px;
	left: 0;
	margin: 5px;
	padding: 5px;
}

div.categorii {
	margin: 5px;
	background-color: lightgreen;
	height: 29%;
	width: 24%;
	position: absolute;
	top: 30%;
	margin-top: 50px;
	border-radius: 10px;
	left: 0;
	padding: 5px;
}

div.alergeni {
	margin: 5px;
	background-color: lightgreen;
	height: 30%;
	width: 24%;
	position: absolute;
	top: 60%;
	margin-top: 59px;
	border-radius: 10px;
	left: 0;
	padding: 5px;
}

div.leftmenu { 
	background-color: lightblue;
	height: 5%;
	width: 33%;
	z-index: 9999;
	margin: 3px;
	border-radius:25px;
	top:0;
	left:0;
	position: fixed;
}

div.centermenu { 
	background-color: lightblue;
	height: 5%;
	width: 33%;
	z-index: 9999;
	margin: 3px;
	top:0;
	border-radius:25px;
	left:33.33%;
	right: 33.33%;
	position: fixed;
}

div.rightmenu { 
	background-color: lightblue;
	height: 5%;
	width: 33%;
	z-index: 9999;
	margin: 3px;
	position: fixed;
	top:0;
	right:0;
	border-radius:25px;
}

div.activeup {
	background-color: lightblue;
	height: 30px;
	width: 66%;
	z-index: 9999;
	margin:3px;
	border-radius:25px;
	top:0;
	left:0;
	position: fixed;
}

div.activeback {
	background-color: lightblue;
	height: 30px;
	width: 33%;
	z-index: 9999;
	margin:3px;
	border-radius:25px;
	top:0;
	right : 0;
	position: fixed;
}

p.divp {
	text-align:center;
	font-weight:bold;
	vertical-align: center;
}


div.ofertelogat {
	background-color: lightgreen;
	height: 29%;
	width: 58%;
	position: absolute;
	top:35px;
	border-radius: 10px;
	left:25%;
	padding: 5px;
	margin: 5px;
}

div.mancarelogat {
	background-color: lightgreen;
	height: 61%;
	width: 58%;
	position: absolute;
	top:30%;
	margin:5px;
	margin-top: 50px;
	border-radius: 10px;
	left:25%;
	padding: 5px;
}

div.deplata {
	background-color: lightgreen;
	width: 15%;
	height: 92%;
	position: absolute;
	top: 0;
	margin:5px;
	margin-top: 40px;
	right: 0;
	border-radius:10px;
	padding: 5px;
}

div.alegeprieteni {
	background-color: lightgreen;
	width: 15%;
	height: 50%;
	top : 0;
	margin: 10px;
	margin-top: 15px;
	position: absolute;
	right: 3px;
	border-radius:10px;
	padding: 5px;
}

div.prietenialesi {
	background-color: lightgreen;
	width: 15%;
	height: 45%;
	top : 50%;
	margin: 10px;
	margin-top: 23px;
	position: absolute;
	right: 3px;
	border-radius:10px;
	padding: 5px;
}

#fixed-div {
    position: fixed;
}

::-webkit-scrollbar {
      width: 5px;
}

::-webkit-scrollbar-track {
      background-color: darkgreen;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: green;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: darkgreen;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: black;
} 